* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 60%;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #7d5fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}
.container h1 {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -3rem;
}

.title {
  width: 90%;
  height: 9.5rem;

  position: relative;
  margin: auto;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.title-input {
  width: 80%;
}
input:focus {
  outline: none;
}
input::placeholder {
  padding-left: 20px;
}
.title-input input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.add {
  width: 4.5rem;
  height: 2.2rem;
  background-color: #25ccf7;
}

.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #25ccf7;
}
.tasks-container {
  width: 100%;
  overflow-y: auto;
  flex-grow: 1;
}

.task {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.task-content {
  background-color: #fff;
  position: relative;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  margin: auto;

  display: flex;
  align-items: center;
  padding-left: 10px;
}

.task-status {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.status {
  width: 4rem;
  height: 1.8rem;
}

span {
  /* color: rgb(189, 189, 189); */
  padding-top: 0.1em;
  font-size: 1.5rem;
}

.edite {
  background-color: #ffa801;
}

.delete {
  background-color: #f97f51;
}
.complete {
  background-color: green;
}

.completed {
  text-decoration: line-through;
  color: rgb(136, 135, 135);
}
@media (max-width: 900px) {
  .container {
    width: 80%;
  }
  h1 {
    font-size: 20px;
  }
}

.hide {
  display: none;
}
